<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Intent queries -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <!-- ... other manifest elements ... -->
</manifest>
